body {
  margin: 0;
  font-family: sans-serif;
}

.vue-devtools__anchor-btn{
  display: none !important;
}

.vue-devtools__panel{
  display: none !important;
}

.vue-devtools__anchor-btn{
  display: none !important;
}